name: Helm Chart Testing

on:
  pull_request:
    paths:
      - 'charts/**'
      - '.github/workflows/helm-ct.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-test:
    name: Lint and Test Charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Add Helm repositories
        run: |
          helm repo add kong https://charts.konghq.com
          helm repo add dapr https://dapr.github.io/helm-charts/
          helm repo update

      - name: Update Helm dependencies
        run: |
          cd charts/zenith-operator
          helm dependency update

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0
        # v2.8.0 includes cosign-installer v4.0.0 which fixes signature verification issues

      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml --charts charts/zenith-operator

      # Note: ct install is disabled on PRs because it requires Tekton/Knative/Kong to be pre-installed
      # Consider moving install tests to a nightly workflow with proper cluster setup
